.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 1.125rem;
    }
    li {
      margin-bottom: 2rem;
    }
  }
}
